/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #000000;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   /*
    * Main Nav Menu Styling
    */

   .main-nav ul {
     list-style: none;
     padding: 0;
     margin: 0;
   }

   .main-nav li {
     margin-bottom: 2px;
     border-bottom-width: 1px;
     border-bottom-style: solid;
     border-bottom-color: red;
   }

   .main-nav a {
     background-color: orange;
     display: block;
     padding-top: 15px;
     padding-right: 10px;
     padding-bottom: 15px;
     padding-left: 10px;
     color: white;
     text-decoration: none;
     font-family: Helvetica, sans-serif;
   }

   .main-nav a:active {
     background-color: grey;
   }

   @media screen and (min-width: 600px) {
     .main-nav {
       background-color: orange;
       border-bottom: 1px solid red;
     }

     .main-nav li {
       display: inline-block;
       border-bottom: none;
     }

     .main-nav a {
       background-color: transparent;
     }

     .main-nav a:hover {
       background-color: red;
     }

     .main-nav a:hover:active {
       background-color: grey;
     }
   }

   @media screen and (min-width: 1024px) {
     .main-nav {
       font-size: 125%;
     }
   }

p {
 font-family: helvetica, arial, sans-serif;
 color: #00000;
 font-size: 20pt;
}

head {
  font-family: helvetica, arial, sans-serif;
  color: #00000;
  font-size: 20pt;
}

title {
  font-family: helvetica, arial, sans-serif;
  color: #00000;
  font-size: 20pt;
}

body {
  font-family: helvetica, arial, sans-serif;
  color: #00000;
  font-size: 20pt;
}

header {
  font-family: helvetica, arial, sans-serif;
  color: #00000;
  font-size: 20pt;
}

div {
  font-family: helvetica, arial, sans-serif;
  font-weight: normal;
  color: #00000;
  font-size: 20pt;
}

ul {
  font-family: helvetica, arial, sans-serif;
  font-weight: normal;
  color: #00000;
  font-size: 20pt;
}


a {
  font-family: helvetica, arial, sans-serif;
  font-weight: normal;
  color: #00000;
  font-size: 20pt;
}

article {
  font-family: helvetica, arial, sans-serif;
  font-weight: normal;
  color: #00000;
  font-size: 20pt;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
